/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of css reset
------------------------------------------------------
------------------------------------------------------
*/


/** {
	outline: 1px solid red;
}*/
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  min-height: 100%;
  font: 13px/27px Arial,sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
li {
  display: inline;
  padding: 10px;
}


nav {
  float: right;
  margin: 12px 25px;
}
nav a {
  padding: 10px 0 0 0;
  color: black;
}
nav li {
  display: inline;
  padding: 8px;
}
#grid {
  background: url("img/grid.png");
  padding: 10px;
  background-repeat: no-repeat;
  margin: 3px;
  background-position: center;
  background-size: 23px 23px;
}
#sign-in {
  color: white;
  height: 35px;
  font-weight: bold;
  font-size: 13px;
  border-radius: 4px;
  background-image: linear-gradient(to top, #4387FD, #4683EA);
}
/* this didn't work for some reason */
#sign-in:hover {
  text-decoration: none;
}


#logo-box {
  padding: 180px 0 0 0;
}
#logo {
  display: block;
  height: 90px;
  width: 250px;
  margin: auto;
  padding: 0 0 30px 0;
}


#search-wrapper {
  margin: auto;
}
#search-box {
  margin: auto;
  padding: 5px;
  display: block;
  width: 570px;
  background: url("img/mic.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 23px 23px;
  font-size: 15px;
}
#mic {
	height: 20px;
  width: 20px;
  float: right;
}
input:focus {
  border: 1px solid blue;
}


#buttons-wrapper {
  clear: both;
  width: 255px;
  margin: 20px auto;
}
.button {
  float: left;
  margin: 0 10px;
  padding: 25px;
  line-height: 25px;
  font-weight: bold;
  color: #444;
}


footer {
  height: 43px;
  width: 100%;
  background-color: #eee;
  /* fix footer at bottom of screen */
  position: fixed; 
  bottom: 0;
}
.footer-menu {
  margin: 10px;
  padding: 0;
}
#left-footer-menu {
  float: left;
}
#right-footer-menu {
  float: right;
}
footer a {
  color: #666;
}